.menu{
    display:flex;
    justify-content:space-between;
    background-color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: blanchedalmond;
}
body{
    background-color: honeydew;
}

.grid img{
    border: 2px solid black;
    border-radius: 50px;
}

.origami{
   border-radius: 20px;
   background-color: honeydew;

   width: 310px;
   font-family: cursive;

}

.bodyimg{
    display: flexbox;
    color:black;
}